{% extends 'layout.html' %}
{% block body %}
    <a type="button" class="btn btn-success mb-3" href="/add_products" >Agregar producto</a>
    <div class="table-responsive">
      <table class="table table-dark table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">codigo</th>
            <th scope="col">producto</th>
            <th scope="col">descripción</th>
            <th scope="col">categoria</th>
            <th scope="col">stock</th>
            <th scope="col">precio</th>
            <th scope="col">fecha</th>
          </tr>
        </thead>
        <tbody>
            {% for dato in productos %}
                <tr>
                    <td>{{ dato.0 }}</td>
                    <td>{{ dato.1 }}</td>
                    <td>{{ dato.2 }}</td>
                    <td>{{ dato.3 }}</td>
                    <td>{{ dato.4 }}</td>
                    <td>{{ dato.5 }}</td>
                    <td>{{ dato.7 }}</td>
                    <td><a type="button" class="btn btn-danger" href="">Editar</a></a></td>
                    <td><a type="button" class="btn btn-primary" href="">Eliminar</a></td>
                </tr>
            {% endfor %}    
        </tbody>
      </table>
    </div>
</div>

{% endblock %}

